
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.board{
    margin: auto;
    margin-top: 20px;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.first-page{
    display: grid;
    height: 100vh;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #2dfdfd, #5e1780);
}
h1{
    margin: 50px;
    color: rgb(249, 249, 249);
    font-family: Luminari, fantasy; 
    font-size:xx-large;   
}
.player{
    display: grid;
    gap: 20px;
    left: auto;
}
.user{
    padding: 10px;
    border-radius: 5px;
}
.error{
    /* color: #f889b7; */
    background-color: #f79dca;
  color: #f0267a;
    padding: 4px;
}

.btn{
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(240, 240, 248);
    border: none;
    color: rgb(241, 175, 43);
    cursor: pointer;
    font-family: Marker Felt, fantasy;
    font-size: larger;
}
.btn:hover{
    background-color: rgb(241, 175, 43);
    color:aliceblue
}
.winning-message{
    margin: 10px;
    padding: 10px;
    left: 50%;
    font-size: large;
    font-family: monospace;
    color: rgb(28, 208, 82);
    display: none;
}
.show{
    display:flex;
}
.hide{
    display: none;
}
.cell{
    width: 5%;
    height: 5%;
    background-color: blueviolet;
    border: 1px solid rgb(253, 244, 226);
}

.icon{
    margin: 25%;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  sidebar */
.sidebar {
    background-color: #5e1780;
    
    color: white;
    padding: 20px;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.sidebar h1 {
    margin: 0;
}

.players {
    margin-bottom: 10px;
    /* gap: 200px; */
}

label {
    display: block;
    
}
.player1{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    

    /* box-sizing: border-box; */
    background-color: white;
    border-radius: 5px;
    /* border: 10px white; */
    color: #150981;
    text-align: center;
    font-family: Luminari, fantasy; 
    font-size:large;   

}
.score1{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    color: #150981;
    text-align: center;
    font-size: xx-large;

}

.exit {
    background-color: #f0267a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;

}
.replay {
    background-color: #05d6d6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
    
}

.game-board {
    margin-left: 250px;
    padding: 20px;
}
/*  content */
.page-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.scores {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
h1 {
    color: #5e1780;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #5e1780;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    display: block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}

#winner-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.popup-content {
    padding: 20px;
}

h2 {
    color: #FF69B4;
    font-size: 24px;
    margin-bottom: 10px;
}

.winner-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    background-color: #FF69B4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E63946;
}

